<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
               
                {{#each projects}}
                <div class="item">
                    <span class="project-title"><a href="#hook">{{name}}</a></span> - <span class="project-tagline">{{description}}</span>
                </div>
                {{/each}}
               
            </section><!--//section-->